<div class="dashboard row">
  <div class="col-lg-6">
    <div class="compoment google" ng-controller="UserCtrl">
      <header>
        <h3>Logged as</h3>
      </header>
      <section>
        <div class="profile" ng-show="user.connected">
          <div class="avatar">
            <img src="{{ user.avatar }}" height="100px" width="100px" />
          </div>
          <div class="summary">
            <div class="name">{{ user.name }}</div>
            <div class="localisation"><span class="glyphicon glyphicon-map-marker"></span> {{ user.location }}</div>
          </div>
        </div>
      </section>
      <footer>
        <a href="{{ user.link }}" class="btn btn-primary">View Profile</a>
        <button href="#" class="btn btn-danger" ng-click="logout()">Log out</button>
      </footer>
    </div> <!-- /.compoment.google -->
    <!-- <div class="compoment music">
      <section>
        <div class="song">
          <div class="artwork">
            <img src="http://placehold.it/150x150" />
          </div>
          <div class="info">
            <h4>Now Playing</h4>
            <h3>Nyan nyan nyan</h3>

          </div>
        </div>
      </section>
    </div>
    later maybe... --> <!-- /.compoment.music -->
  </div>
  <div class="col-lg-6" ng-controller="AlarmClockCtrl">
    <div class="compoment alarm-clock">
      <section>
        <h3>Next alarm set to</h3>
        <div class="time">{{ formatTime(wake.date) }}</div>
      </section>
    </div>
    <div class="compoment event">
      <section>
        <a href="{{ nextEvent.link }}" class="btn btn-primary pull-right view-calendar-btn">View on Google Calendar</a>
        <h3>Next event</h3>
        <div class="name">{{ nextEvent.summary }}</div>
        <div class="time">{{ formatTime(nextEvent.start, true) }}-{{ formatTime(nextEvent.end) }}</div>
      </section>
    </div>
  </div>
</div>
