<div class="dashboard row">
  <div class="col-lg-6">
    <div class="compoment google">
      <header>
        <h3>Logged as</h3>
      </header>
      <section>
        <div class="profile">
          <div class="avatar">
            <img src="http://www.gravatar.com/avatar/259c902d04bbcf6916ac3a8377771c0e.png?s=100" height="100px" width="100px" />
          </div>
          <div class="summary">
            <div class="name">Quentin Gliech</div>
            <div class="localisation"><span class="glyphicon glyphicon-map-marker"></span> Wissembourg, Alsace, France</div>
          </div>
        </div>
      </section>
      <footer>
        <button href="#" class="btn btn-primary">Settings</button>
      </footer>
    </div> <!-- /.compoment.google -->
    <!-- <div class="compoment music">
      <section>
        <div class="song">
          <div class="artwork">
            <img src="http://placehold.it/150x150" />
          </div>
          <div class="info">
            <h4>Now Playing</h4>
            <h3>Nyan nyan nyan</h3>

          </div>
        </div>
      </section>
    </div>
    later maybe... --> <!-- /.compoment.music -->
  </div>
  <div class="col-lg-6">
    <div class="compoment alarm-clock">
      <section>
        <h3>Next alarm set to</h3>
        <div class="time">7:15am</div>
      </section>
    </div>
    <div class="compoment event">
      <section>
        <h3>Next event</h3>
        <div class="name">Math</div>
        <div class="time">7:55-9:50am</div>
      </section>
    </div>
  </div>
</div>
